  * {
    font-family: 'Cascadia Code', serif;
  }

  body {
    background-image:
      linear-gradient(rgba(255, 0, 200, 0.884), #59e6ff);
    overflow: hidden;
    max-width: 100%;
    min-height: 100vh;
  }

  .boxed {
    border-radius: 0 12px 12px 0;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    width: 700px;
    height: 500px;
    margin: 95px auto;
    border-radius: 25px;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
  }

  .logo img{
    margin-top: 17px;
  }

  .home {
    color: yellow;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    width: 100%;
    margin: 1% auto;
  }

  .text {
    color:white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin: 3% 10% 0% 10%;
    width: 80%;
  }
