@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
    font-family: 'Cascadia Code', serif;
}

body {
    max-width: 100%;
    overflow: hidden;
    background-image:
        linear-gradient(rgba(255, 0, 200, 0.884), #59e6ff);
}

.glass-card {

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 450px;
    margin: 160px auto;
    padding: 30px 0;
    background-color: transparent;
}

.remember {
    padding-left: 1em;
}