@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    background: url('Images/Building.jpg') no-repeat center;
    height: 100vh;
    background-position: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    width: 90%;
    height: 90%;
    background-color: white;
    opacity: 0.8;
}

span {
    font-size: xx-large;
    position: relative;
    top: 39%;
    left: 10%;
    padding-right: 8%;
    padding-left: 8%;
    width: fit-content;
    opacity: 1;
    color: black;
    display: inline-block;
}