* {
    font-family: 'Playfair Display', serif;
  }

  .boxed {
    background-color: rgba(0, 0, 0, 0.5);
    width: 700px;
    height: 350px;
    margin: 120px auto;
    border-radius: 25px;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
  }

  .home {
    color: aliceblue;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    width: 100%;
  }

  .text {
    color: aliceblue;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin: 0% 10% 0% 10%;
    width: 80%;
  }