<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='aboutus.css')}}">
</head>

<body>
    <div class="content">
        <h2>About Us</h2>
        <p>We are HackJacks ! We excel in providing tourist services for Europe especially France. Contact us and see your dream city now !</p>
        <ul class="links">
            <li><a href="#">Work</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="icons">
            <li>
                <i class="fa fa-twitter"></i>
            </li>
            <li>
                <i class="fa fa-facebook"></i>
            </li>
            <li>
                <i class="fa fa-github"></i>
            </li>
            <li>
                <i class="fa fa-pinterest"></i>
            </li>
        </ul>
    </div>
</body>