<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='signup.css')}}">
    <title>Sign Up || Forzo Shopping</title>
</head>

<body>
    <div class="signup-form">
        <form action="/adduser" method="post" onsubmit="return vaild()">
            <h2>Register</h2>
            <p class="hint-text">Create your account. It's free and only takes a minute.</p>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6"><input type="text" class="form-control" name="first_name"
                            placeholder="First Name" required="required"></div>
                    <div class="col-xs-6"><input type="text" class="form-control" name="last_name"
                            placeholder="Last Name" required="required"></div>
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password"
                    required="required">
            </div>
            <div class="form-group">
                <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a
                        href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
            </div>
        </form>
        <div class="text-center">Already have an account? <a href="signin">Sign In</a></div>
    </div>
    <script>
        function valid(){
            var pwd = document.getElementById("password");
            var cpwd = document.getElementById("confirm_password"); 
    
            if(pwd.value >= 6 || cpwd.value >=6){
                 alert("password Must be minimum of 6 character");
                return false;
            }

           else if(pwd.value != cpwd.value){
                alert("Password does't Match");
                return false;
           }
           return true;    
        }
    </script>
</body>