@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

body {
    font-family: 'Playfair Display', serif;
    display: flex;
    background-image: url('https://wallpaperaccess.com/full/288027.jpg');
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0 12px 12px 0;
    color: #fff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    width: 60%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.content h2 {
    padding-top: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
}

.content p {
    font-size: 21px;
    padding-bottom: 13px;
    width: 80%;
    text-align: center;
    line-height: 2;
    color: #ffffff
}

.links {
    justify-content: center;
    display: grid;
}

.links li {
    padding: 10px;
    margin: 10px;
    border: 2px solid #ffffffd9;
    list-style: none;
    border-radius: 5px;
    text-align: center;
}

.links li a {
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.links li:hover {
    border-color: #C850C0;
}



.icons {
    display: flex;

}

.icons li {
    display: block;
    padding: 5px;
    margin: 5px;
}

.icons li i {
    font-size: 26px;
    opacity: 1;
}

.icons li i:hover {
    color: #C850C0;
    cursor: pointer;
}


/*****************/

@media(max-width: 900px) {
    section {
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: none;
    }

    .image {
        height: 100vh;
        border-radius: none;
    }

    .content {
        height: 100vh;
        border-radius: none;
    }

    .content h2 {
        font-size: 20px;
        margin-top: 50px;
    }

    .content span {
        margin: 20px 0;
    }

    .content p {
        font-size: 14px;
    }

    .links li a {
        font-size: 14px;
    }

    .links {
        margin: 5px 0;
    }

    .links li {
        padding: 6px 10px;
    }

    .icons li i {
        font-size: 15px;
    }
}

.credit {
    text-align: center;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}