<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Home</title>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap">
	<!-- <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">-->
	<link rel="stylesheet" href="../static/index.css">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script>
		window.watsonAssistantChatOptions = {
			integrationID: "cc7db599-b8d4-419c-8072-a5c10398a665", // The ID of this integration.
			region: "jp-tok", // The region your integration is hosted in.
			serviceInstanceID: "4161a912-e5d2-4699-9c3e-b738e986c1e8", // The ID of your service instance.
			onLoad: function (instance) { instance.render(); }
		};
		setTimeout(function () {
			const t = document.createElement('script');
			t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
			document.head.appendChild(t);
		});
	</script>

	<script>
		$(document).ready(function () {
			$('.content').click(function () {
				$('.content').toggleClass("heart-active")
				$('.text').toggleClass("heart-active")
				$('.heart').toggleClass("heart-active")
				var jobid = document.getElementById('jobid');
				console.log(jobid)
				$.ajax({
					url: '/like',
					type: 'POST',
					data: { 'jobid': jobid.value }
				});
			});
		});
		function decodeHtml(html) {
			var txt = document.createElement("textarea");
			txt.innerHTML = html;
			return txt.value;
		}

		function companydetails(obj) {
			var jobid = document.getElementById('jobid')
			var cname = document.getElementById('cname')
			var role = document.getElementById('role')
			var salary = document.getElementById('salary')
			var skill_1 = document.getElementById('skill_1')
			var skill_2 = document.getElementById('skill_2')
			var skill_3 = document.getElementById('skill_3')
			var ex = document.getElementById('ex')
			var job_location = document.getElementById('job_location')
			var vacancy = document.getElementById('vacancy')
			var link = document.getElementById('link')
			var logo = document.getElementById('logo')
			var description = document.getElementById('description')

			var json = JSON.parse(decodeHtml('{{companies}}'));
			var id = obj.getAttribute('id');
			var clickedcompany = json.find(function (obj) {
				return obj.jobid == id;
			});
			jobid.innerHTML = clickedcompany.jobid
			cname.innerHTML = clickedcompany.cname
			role.innerHTML = clickedcompany.role
			salary.innerHTML = clickedcompany.salary + " LPA"
			skill_1.innerHTML = clickedcompany.skill_1
			skill_2.innerHTML = clickedcompany.skill_2
			skill_3.innerHTML = clickedcompany.skill_3
			ex.innerHTML = clickedcompany.ex + " Years"
			job_location.innerHTML = clickedcompany.job_location
			vacancy.innerHTML = clickedcompany.vacancy
			link.href = clickedcompany.link
			logo.src = clickedcompany.logo
			description.innerText = clickedcompany.description
		}
		function redirectToApply() {
			let jobid = document.getElementById('jobid').innerText
			if (jobid != '') {
				var form = document.createElement("form");
				document.body.appendChild(form);
				form.method = "POST";
				form.action = "/apply/" + jobid;
				form.submit();
			}
		}
		$(document).ready(function() {
			// Show the alert message
			$('.alert').fadeIn();
		  
			// Hide the alert message after 5 seconds
			setTimeout(function() {
			  $('.alert').fadeOut();
			}, 5000);
		  });		  
	</script>
</head>

<body>
	{%if message%}
		<div class="alert" style="display:none;">
			<p>{{ message }}</p>
		</div>
	{% endif %}
	<div class="navbar-wrapper">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand text-dark h5" href="/home"><b>Hire Me!</b></a>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active">
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark h5" href="profile"><b>Profile</b></a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark h5" href="logout"><b>Logout</b></a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="topbar">
		<div class="Searchbar">
			<form class="searchform" action="/home" method="post" autocomplete="off">
				<input class="searchbox" type="text" placeholder="Job Role, Company Name or keyword" name="search"
					id="input">
				<input class="submitbtn" type="submit">
				<script src="../static/js/suggestions.js"></script>
				<ul class="list"></ul>
			</form>
		</div>
	</div>
	{%if arr!=[]%}
	<div class="container">
		<div class='outbox'>
			<div class="outboxinbox">
				<spam>
					<img class="companylogooutbox" id="logo" src="{{arr[0].logo}}">
				</spam>
				<div id="jobid" style="display: none;">{{arr[0].jobid}}</div>
				<div style="color: rgb(66, 66, 130);" id="cname"><b>{{arr[0].cname}}</b></div>
				<div style="color: rgb(82, 82, 108); " id="role"><b>{{arr[0].role}}</b></div>
				<div id="salary">{{arr[0].salary}} LPA</div>
				<div class="applybox">

					<button class="applyjob" type="submit" onclick="redirectToApply()">Apply Job</button>

					<div class="heart-btn">
						<div class="content">
							<span class="heart"></span>
							<span class="text">Like</span>
						</div>
					</div>
				</div>
				<a id="link" href="{{arr[0].link}}" target="_blank">
					<div class="Aboutcompany"><b>About Company</b></div>
				</a>
			</div>
			<div class="outboxinbox2">
				<div>
					<ion-icon class="iconclr" name="newspaper-outline"></ion-icon><b>Job Description</b>
					<p class="describe" id="description">{{arr[0].description}}</p>
				</div>
				<div>
					<ion-icon class="iconclr" name="book-outline"></ion-icon><b>Skills Required</b>
					<ul>
						<li class="describe" id="skill_1">{{arr[0].skill_1}}</li>
						<li class="describe" id="skill_2">{{arr[0].skill_2}}</li>
						<li class="describe" id="skill_3">{{arr[0].skill_3}}</li>
					</ul>
				</div>
				<div>
					<ion-icon class="iconclr" name="bag-check-outline"></ion-icon><b>Experience</b>
					<ul>
						<li class="describe" id="ex">{{arr[0].ex}}</li>
					</ul>
				</div>
				<div>
					<ion-icon class="iconclr" name="location-outline"></ion-icon><b>Job Location </b>
					<ul>
						<spam class="icon">
						</spam>
						<li class="describe" id="job_location">{{arr[0].job_location}}</li>
					</ul>
				</div>
				<div>
					<ion-icon class="iconclr" name="apps-outline"></ion-icon><b>Vacancy</b>
					<ul>
						<li class="describe" id="vacancy">{{arr[0].vacancy}}</li>
					</ul>
				</div>
			</div>
		</div>
		{% for i in arr %}
		<div class="boxed">
			<div class="boxedcontent">
				<spam>
					<img class="companylogo" src='{{i.logo}}'>
				</spam>
				<li><b>Company Name : <button id='{{i.jobid}}'
							style="border: none; background-color: transparent;color: blue;"
							onclick="companydetails(this)">{{i.cname}}</button></b>
				</li>
				<ul style="list-style:none;">
					<li>Role : {{i.role}}</li>
					<li>Experience: {{i.ex}} Years</li>
					<li>Skill : {{i.skill_1}},{{i.skill_2}},{{i.skill_3}}</li>
					<li>Vacancy : {{i.vacancy}}</li>
					<li>Stream : {{i.stream}}</li>
					<li>Job Location : {{i.job_location}}</li>
					<li>Salary : {{i.salary}} LPA</li>
				</ul>
			</div>
		</div>
		{% endfor %}
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	</div>
	{% else %}
	<div class="boxed_2">
		<p>Oops! Currently there are no such job openings</p>
	</div>
	{%endif%}
</body>

</html>