<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/profile.css">
</head>

<body>
	{% if newuser==0 %}
	<div class="navbar-wrapper fixed">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand text-dark h5" href="/home"><b>Hire Me!</b></a>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item active">
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark h5" href="profile"><b>Profile</b></a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark h5" href="logout"><b>Logout</b></a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	{% endif %}


	<form action="/profile" method="post">
		<script src="../static//js/app.js"></script>
		<div class="container rounded bg-white mt-5 mb-5">
			<div class="row">
				<div class="col-md-3 border-right">
					<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
							class="rounded-circle mt-5" width="150px"
							src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
							class="font-weight-bold">{{first_name}} {{last_name}}</span><span
							class="text-black-50">{{email}}</span><span> </span>
					</div>
				</div>
				<div class="col-md-5 border-right">
					<div class="p-3 py-5">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<h4 class="text-right">Profile</h4>
						</div>
						<div class="row mt-2">
							<div class="col-md-6"><label class="labels">First Name</label><input type="text"
									class="form-control" placeholder="First name" name="first_name"
									value="{% if newuser==0%}{{first_name}}{%endif%}" required {%if newuser==0%}
									disabled {%endif%}>
							</div>
							<div class="col-md-6"><label class="labels">Lastname</label><input type="text"
									class="form-control" name="last_name" placeholder="Lastname"
									value="{% if newuser==0%}{{last_name}}{%endif%}" {%if newuser==0%} disabled
									{%endif%} required>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-12"><label class="labels">Mobile
									Number</label><input type="text" class="form-control"
									placeholder="Enter phone number" name="mobile_no"
									value="{% if newuser==0%}{{mobile_no}}{%endif%}" required></div>
							<div class="col-md-12"><label class="labels">Address Line
									1</label><input type="text" class="form-control" placeholder="Enter address line 1"
									name="address_line_1" value="{% if newuser==0%}{{address_line_1}}{%endif%}"
									required>
							</div>
							<div class="col-md-12"><label class="labels">Address Line
									2</label><input type="text" class="form-control" placeholder="Enter address line 2"
									value="{% if newuser==0%}{{address_line_2}}{%endif%}" name="address_line_2"></div>
							<div class="col-md-12"><label class="labels">Zipcode</label><input type="text"
									class="form-control" placeholder="Zipcode" name="zipcode"
									value="{% if newuser==0%}{{zipcode}}{%endif%}" required></div>
							<div class="col-md-12"><label class="labels">City</label><input type="text"
									class="form-control" placeholder="Enter City"
									value="{% if newuser==0%}{{city}}{%endif%}" name="city" required>
							</div>
							<div class="col-md-12"><label class="labels">Email
									ID</label><input type="text" class="form-control" name="email"
									value="{% if newuser==0 or newuser==1 %}{{email}}{%endif%}" {%if newuser==0 or
									newuser==1%} disabled {%endif%} required>
							</div>
							<div class="col-md-12"><label class="labels">Education</label>{%if
								newuser==1%}<select id="education" name="education" required>
									<option value="">--Select Education--</option>
									<option value="B.E CSE">B.E CSE</option>
									<option value="B.E EEE">B.E EEE</option>
									<option value="B.E ECE">B.E ECE</option>
									<option value="B.E Mech">B.E Mech</option>
									<option value="B.E Civil">B.E Civil</option>
								</select>{%else%}<input type="text" class="form-control" name="education"
									value="{{education}}" required disabled>
								{%endif%}
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-6"><label class="labels">Country</label><select id="countries"
									name="countries" required>
									<option value="" required>--Select Country--
									</option>
								</select></div>
							<div class="col-md-6"><label class="labels">State</label><select id="states" name="states"
									required>
									<option value="">--Select State--</option>
								</select></div>
						</div>
						<div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save
								Profile</button></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="p-3 py-5">
						<div class="d-flex justify-content-between align-items-center experience">
						</div><br>
						<div class="col-md-12"><label class="labels">Experience</label><select id="education"
								name="experience" required>
								<option value="">--Years of Experience--</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">2+</option>
							</select></div> <br>
						<div class="col-md-12"><label class="labels">Preferred Skill</label><select
								id="skill" name="skill" required>
								<option value="">--Select a Skill--</option>
								<option value="Angular">Angular</option>
								<option value="AngularJS">AngularJS</option>
								<option value="ASP.NET">ASP.NET</option>
								<option value="Azure DevOps">Azure DevOps</option>
								<option value="Azure Machine Learning">Azure Machine Learning</option>
								<option value="COBOL">COBOL</option>
								<option value="CSS">CSS</option>
								<option value="C">C</option>
								<option value="C++">C++</option>
								<option value="Embededd C">Embededd C</option>
								<option value="Figma">Figma</option>
								<option value="Fortran">Fortran</option>
								<option value="HTML">HTML</option>
								<option value="JavaScript">JavaScript</option>
								<option value="Java">Java</option>
								<option value="jQuery">jQuery</option>
								<option value="Jupyter">Jupyter</option>
								<option value="MongoDB">MongoDB</option>
								<option value="MySQL">MySQL</option>
								<option value="Node.js">Node.js</option>
								<option value="Oracle">Oracle</option>
								<option value="Photoshop">Photoshop</option>
								<option value="Python">Python</option>
								<option value="ReactJS">ReactJS</option>
								<option value="Spring Boot">Spring Boot</option>
								<option value="SQL Server">SQL Server</option>
								<option value="TypeScript">TypeScript</option>
								<option value="T-SQL">T-SQL</option>
								<option value="Visual Basic .NET">Visual Basic .NET</option>
								<option value="XD">XD</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>

</html>