@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
}

.navbar-wrapper {
  width: 100%;
  text-decoration: double;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.home {
  color: aliceblue;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  width: 100%;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('Images/Building.jpg') no-repeat center;
  height: 100vh;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.Searchbar {
  width: 15%;
  height: 5%;
}

.Searchbar {
  margin-top: 7%;
  left: 15%;
}

.topbar {
  position: static;
  position: fixed;
  top: 8.5%;
  background-color: rgb(66, 66, 130);
  width: 100%;
  height: 9%;
  z-index: 1;
}

.searchbox {
  border-style: solid;
  border-color: rgb(66, 66, 130);
  box-shadow: 0 0 8px 1px #48abe0;
  position: absolute;
  top: 15%;
  left: 28%;
  width: 33%;
  border-radius: 20px;
  padding: 8px;
}

.submitbtn {
  position: absolute;
  border-style: solid;
  border-color: rgb(66, 66, 130);

  box-shadow: 0 0 8px 1px #48abe0;
  top: 15%;
  left: 63%;
  width: 6%;
  border-radius: 20px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
}

.container {
  position: static;
  padding: 15px;
  height: max-content;
  width: 100vh;
  margin-right: 45%;
  margin-top: 11%;
}

.boxed {
  padding: 8px;
  width: 60vh;
  top: 0%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 0 10px 1px #0d5dcc;
  margin-bottom: 5%;
}

.outbox {
  position: fixed;
  font-size: 20px;
  width: 58%;
  height: 70%;
  left: 40%;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px #0d5dcc;
  overflow: auto;
}

.outboxinbox {
  max-width: 100%;
  max-height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 5%;
  border-style: solid;
  border-bottom-color: rgb(225, 217, 217);
  border-left: rgba(125, 105, 105, 0);
  border-top: rgba(125, 105, 105, 0);
  border-right: rgba(125, 105, 105, 0);
}

.applybox {
  position: relative;
  top: 5px;
  width: 115px;
  height: 35px;
  padding: 1.5px 10px;
  color: transparent;
  margin-bottom: 5px;
}

button.applyjob {
  position: relative;
  top: 5px;
  width: 115px;
  letter-spacing: 1px;
  height: 35px;
  padding: 1.5px 10px;
  border-radius: 8px;
  background-color: rgb(66, 66, 130);
  color: aliceblue;
  margin-bottom: 5px;
  border-color: transparent;
  font-weight: bolder;
}

.Aboutcompany {
  position: absolute;
  top: 5%;
  margin-left: 64%;
  width: max-content;
  letter-spacing: 1px;
  height: 35px;
  padding: 1.5px 10px;
  border-radius: 8px;
  background-color: rgb(66, 66, 130);
  color: aliceblue;
  margin-bottom: 5px;

}

.nav-item {
  float: right;
}

.outboxinbox2 {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 5%;
  border-style: solid;
  border-bottom-color: rgb(225, 217, 217);
  border-left: rgba(125, 105, 105, 0);
  border-top: rgba(125, 105, 105, 0);
  border-right: rgba(125, 105, 105, 0);
  overflow: auto;
}

.describe {
  font-size: 15px;
  margin-left: 26px;
  text-align: justify;
}

.iconclr {
  color: rgb(66, 66, 130);
  padding-right: 5px;
}


.companylogo {
  position: static;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
}

.companylogooutbox {
  position: relative;
  left: -5px;
  width: 30%;
  height: 62px;
  margin-bottom: 2%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 9%;
}



.heart-btn {
  position: absolute;
  top: 45%;
  left: 200%;
  transform: translate(-50%, -50%);
}

.content {
  padding: 13px 16px;
  display: flex;
  border: 2px solid #eae2e1;
  border-radius: 5px;
  cursor: pointer;
}

.content.heart-active {
  border-color: #f9b9c4;
  background: #fbd0d8;
}

.heart {
  position: absolute;
  background: url("./Images/img.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;
  top: 50%;
  left: 21%;
  transform: translate(-50%, -50%);
}

.text {
  font-size: 21px;
  margin-left: 30px;
  color: grey;
}

.numb:before {
  content: '12';
  font-size: 21px;
  margin-left: 7px;
  font-weight: 600;
  color: #9C9496;
  font-family: sans-serif;
}

.numb.heart-active:before {
  content: '13';
  color: #000;
}

.text.heart-active {
  color: #000;
}

.heart.heart-active {
  animation: animate .8s steps(28) 1;
  background-position: right;
}

@keyframes animate {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.boxed_2{
  position: relative;
  margin-top: 25%;
  font-size:xx-large;
}

.list {
  width: 30vmin;
  background-color:white;
  border-radius: 20px;
  position: absolute;
  top:80%;
  left: 28%;
}
.list-items {
  padding: 10px 5px;
}
.list-items:hover {
  background-color: #dddddd;
}

.Searchbar {
  width: 15%;
  height: 5%;
}

.Searchbar {
  margin-top: 7%;
  left: 15%;
}


input[type="text"] {

  border-style: solid;
  border-color: rgb(66, 66, 130);
  box-shadow: 0 0 8px 1px #48abe0;
  position: absolute;
  top: 15%;
  left: 28%;
  width: 33%;
  border-radius: 20px;
  padding: 8px;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 16px;
}

