@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


* {
    color: #000000;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 1.2;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.container.rounded.bg-white.mt-5.mb-5 {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-color: #ffffff8c !important;
}

label.labels {
    font-size: larger;
    font-weight: 200;
}

.col-md-6 {
    display: grid;
    width: 50%;
}

select {
    width: 100%;
}

body {
    background: url('Images/Building.jpg') no-repeat center;
}